# Variable

### Create a variable named carname and assign the value Volvo to it.

In [4]:
carname="Volvo"
carname

'Volvo'

### Create a variable named x and assign the value 50 to it.

In [5]:
x=50
x

50

### Display the sum of 5 + 10, using two variables: x and y.

In [6]:
x=5
y=10
print(x+y)

15

### Create a variable called z, assign x + y to it, and display the result.

In [7]:
x=5
y=10
z=x+y
z

15

### Remove the illegal characters in the variable name:

In [21]:
name="lion"
st=""
for char in name:
    if char == 'i':
        continue
    else:
        st+=char
print(st)

lon

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [25]:
x=5
y=9
z=6
x=z=y=4
print(x)
print(y)
print(z)

4
4
4

### The following code example would print the data type of x, what data type would that be?

In [24]:
x=62
type(x)

int

### The following code example would print the data type of x, what data type would that be?

In [30]:
x={"name":"rawan",
    "age":23
      }
type(x)

dict

### The following code example would print the data type of x, what data type would that be?

In [31]:
x=[2,3,4,5,6,7]
type(x)

list

### The following code example would print the data type of x, what data type would that be?

In [32]:
x=("rawan","sama","layla")
type(x)

tuple

### The following code example would print the data type of x, what data type would that be?

In [33]:
x="Jehad"
type(x)

str

### The following code example would print the data type of x, what data type would that be?

In [34]:
x=9.9
type(x)

float

### The following code example would print the data type of x, what data type would that be?

In [40]:
def myname(x):
    print(x)
type(myname)

function

### Insert the correct syntax to convert x into a floating point number.

In [45]:
x=float(1/3)
x

0.3333333333333333

### Insert the correct syntax to convert x into a integer.

In [46]:
x=float(1/3)
int(x)

0

### Use the len method to print the length of the string.

In [47]:
name="rawan"
len(name)

5

### Get the first character of the string txt.

In [48]:
name="rawan"
name[0]

'r'

### Get the characters from index 2 to index 4 (llo).

In [51]:
word="hello"
word[2:5]

'llo'

### Return the string without any whitespace at the beginning or the end.

In [54]:
sentence=" Hi I am Dory "
sentence.strip()

'Hi I am Dory'

### Convert the value of txt to upper case.

In [56]:
sentence=" Hi I am Dory "
sentence.upper()

' HI I AM DORY '

### Convert the value of txt to lower case.

In [57]:
sentence="HI I AM DORY"
sentence.lower()

'hi i am dory'

### Replace the character H with a J.

In [59]:
word="HELLO"
word.replace('H','J')

'JELLO'

### Using format function to print the age

In [61]:
age=19
x=("I am {} years old".format(age))
print(x)

I am 19 years old

### The statement below would print a Boolean value, which one?

In [62]:
2>4

False

In [64]:
"rawan"<"aya"

False

In [65]:
23<=9

False

### Multiply 10 with 5, and print the result.

In [66]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [ ]:
print(10/2)

### Create a list and check if the value in this list or not

In [67]:
list1=["rawan","rody","rozan","Aysel"]
if "rozan" in list1:
    print("Found")

Found

### Use the correct comparison operator to check if 5 is not equal to 10.

In [68]:
5!=10

True

### Use the correct logical operator to check if at least one of two statements is True.

In [69]:
5!=10 or 10<2

True

### Print the second item in the fruits list.

In [70]:
fruits=["banana","apple","pineapple"]
fruits[1]

'apple'

### Change the value from "apple" to "kiwi", in the fruits list.

In [74]:
fruits=["banana","apple","pineapple"]
for i in range(len(fruits)):
    if fruits[i]=="apple":
        fruits[i]="kiwi"
fruits

['banana', 'kiwi', 'pineapple']

###  Use the append method to add "orange" to the fruits list.

In [77]:
fruits=["banana","apple","pineapple"]
fruits.append("orange")
fruits

['banana', 'apple', 'pineapple', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [79]:
fruits=["banana","apple","pineapple"]
fruits.insert(1,"lemon")
fruits

['banana', 'lemon', 'apple', 'pineapple']

### Use the remove method to remove "banana" from the fruits list.

In [80]:
fruits=["banana","apple","pineapple"]
fruits.remove("banana")
fruits

['apple', 'pineapple']

### Use negative indexing to print the last item in the list.

In [82]:
fruits=["banana","apple","pineapple"]
fruits[-1]

'pineapple'

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [83]:
fruits=["banana","apple","pineapple","lemon","kiwi","blueberry"]
fruits[3:5]

['lemon', 'kiwi']

### Use the correct syntax to print the number of items in the list.

In [84]:
fruits=["banana","apple","pineapple","lemon","kiwi","blueberry"]
len(fruits)

6

### Use the correct syntax to print the first item in the fruits tuple.

In [85]:
fruits=("banana","apple","pineapple","lemon","kiwi","blueberry")
print(fruits[0])

banana

### Use the correct syntax to print the number of items in the fruits tuple.

In [86]:
fruits=("banana","apple","pineapple","lemon","kiwi","blueberry")
len(fruits)

6

### Use the add method to add "orange" to the fruits set.

In [88]:
fruits={"banana","apple","pineapple","lemon","kiwi","blueberry"}
fruits.add("orange")
fruits

{'apple', 'banana', 'blueberry', 'kiwi', 'lemon', 'orange', 'pineapple'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [89]:
fruits={"banana","apple","pineapple","lemon","kiwi","blueberry"}
new=["mango","lychee"]
fruits.update(new)
fruits

{'apple',
 'banana',
 'blueberry',
 'kiwi',
 'lemon',
 'lychee',
 'mango',
 'pineapple'}

### Use the remove method to remove "banana" from the fruits set.

In [90]:
fruits={"banana","apple","pineapple","lemon","kiwi","blueberry"}
fruits.remove("banana")
fruits

{'apple', 'blueberry', 'kiwi', 'lemon', 'pineapple'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [92]:
Car={
    "model":"mercedes",
    "year":2023
}
print(Car.get("model"))

mercedes

### Change the "year" value from 1964 to 2020.

In [94]:
Car={
    "model":"mercedes",
    "year":2023
}
Car["year"]=1964
Car

{'model': 'mercedes', 'year': 1964}

### Add the key/value pair "color" : "red" to the car dictionary.

In [98]:
Car={
    "model":"mercedes",
    "year":2023
}
Car.update({"color":"red"})
Car

{'model': 'mercedes', 'year': 2023, 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [99]:
Car={
    "model":"mercedes",
    "year":2023
}
Car.pop("model")
Car

{'year': 2023}

### Use the clear method to empty the car dictionary.

In [100]:
Car={
    "model":"mercedes",
    "year":2023
}
Car.clear()
Car

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [101]:
a=23
b=92
if a==b:
    print("1")
elif a>b:
    print("2") 
else:
    print("3")

3

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

In [102]:
a=3
b=4
if a==b:
    print("True")
else:
    print("False")

False

### Use the correct short hand syntax to write the following conditional expression in one line:

In [104]:
if 5 > 2:
  print("Yes")
else:
  print("No")

Yes

### Print i as long as i is less than 6.

In [106]:
for i in range(10):
    if i<6:
        print(i)

0
1
2
3
4
5

### Stop the loop if i is 3.

In [109]:
i=0
while i<=3:
    print(i)
    i+=1

0
1
2
3

### In the loop, when i is 3, jump directly to the next iteration.

In [113]:

i = 0
while i < 10:
  i += 1
  if i == 3:
     continue
  print(i)

1
2
4
5
6
7
8
9
10

### Print a message once the condition is false.

In [114]:
for i in range(3):
     if i==2:
        print("False")

False

### In the loop, when the item value is "banana", jump directly to the next item.

In [115]:
fruits=["banana","apple","pineapple","lemon","kiwi","blueberry"]
for fruit in fruits:
    if fruit=="banana":
        continue
    print(fruit)

apple
pineapple
lemon
kiwi
blueberry

### Use the range function to loop through a code set 6 times.

In [116]:
for x in range(6):
  print(x)

0
1
2
3
4
5

### Exit the loop when x is "banana".

In [117]:
fruits=["apple","pineapple","lemon","banana","kiwi","blueberry"]
i=0
while fruits[i]!="banana":
    print(fruits[i])
    i+=1

apple
pineapple
lemon

### Create a function named my_function.

In [132]:
def my_function():
    print("I AM DORY")
my_function()

I AM DORY

### Execute a function named my_function.

In [133]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

### Inside a function with two parameters, print the first parameter.

In [134]:
def my_function(model, age):
     print("I have "+ model)
my_function("mercedes",2023)

I have mercedes

### Let the function return the x parameter + 5.

In [140]:
def num(x):
    x=x+5
    return x
print(num(5))

10

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [141]:
def words(*word):
    print("My name is "+ word[1])
words("sama","rawan")

My name is rawan

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [146]:
def words(**word):
    print("My name is "+ word["name"])
words(name="rawan", age="19")

My name is rawan

### Create a lambda function that takes one parameter (a) and returns it.

In [149]:
x= lambda a: a
x(5)

5

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [154]:
def Prime(num):
    for i in range(2,num):
         if (num % i) == 0:
           print(num,"is not a prime number")
           break
         else:
             print(num,"is a prime number")
             break

Prime(7)

7 is a prime number

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [155]:
def fibonacci(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c
        return b
 
 
print(fibonacci(10))

34

### Write a function to compute the power of a number x raised to the power n using recursion.

In [157]:
def Power(num):
    return 2**num
Power(2)

4